body {
	color: white;
	background-color: black;
}
#navlinks {
	color: white;
	display: flex;
	justify-content: space-around;
	align-content: center;
}

#navlinks a {
	text-decoration: none;
	color: gray;
}

#navlinks a:hover {
	text-decoration: none;
	color: deeppink;
}

.loginForm {
	margin-top: 10%;
	margin-left: 25%;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: aliceblue;
	width: 50%;
}
form {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
input {
	margin-bottom: 20px;
}
.button {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.button button {
	gap: 20px;
}
